# Ignore Mac OS files
.DS_Store

# Ignore the "local" versions of files
*.local
*.local.*
packer_compiled.lua

tags
tags.temp
tags.lock
plugged

yarn-error.log

node_modules
nvim/autoload
terminal/nvim/plugged
