[url "git@github.com:"]
	insteadOf = https://github.com/

[user]
	email = victor@conner.dev
	name = Victor Conner
	editor = "nvim"
	signingkey = 12B0C3A210C96A594771046CD0356B9B43EBDC1E

[core]
	excludesfile = ~/.gitignore_global

[includeif "gitdir:~/code/personal/"]
	path = ~/code/personal/.gitconfig

[includeif "gitdir:~/code/work/"]
	path = ~/code/work/.gitconfig

[log]
	showSignature = false

[commit]
	gpgSign = true

[push]
	default = current
	autoSetupRemote = true

[pull]
	rebase = true

[merge]
	ff = only

[fetch]
	prune = true

[alias]
	sla = log --oneline --decorate --graph --all --no-show-signature
	glog = log -E -i --grep
	unstage = reset
	uncommit = reset --soft HEAD^
	mup = !git checkout master && git pull && git checkout -
	upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
	ureset = !git upstream && git reset --hard $(git upstream)
	set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
	udiff = !git diff origin/`git symbolic-ref --short HEAD`

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[gpg]
	program = gpg

[url "git@github.com:"]
	insteadOf = https://github.com/
