# Ignore Mac OS files
.DS_Store

# Ignore .cfg to avoid weird recursion problems
.cfg

# Ignore the "local" versions of files
*.local
*.local.*
**/packer_compiled.lua
**/lua-language-server

tags
tags.temp
tags.lock
plugged

yarn-error.log

node_modules
nvim/autoload
terminal/nvim/plugged
